* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-login {
  background-color: #0c135f;
  height: 100%;
  width: 300px;

  left: 0;
  position: fixed;
  color: #f6fbff;
}

.besar {
  color: #0db900;
}
.top-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f6fbff;
  font-size: 12px;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  left: 0;
}

.top-text {
  padding-left: 20px;
  line-height: 1.6;
}

.top-text a {
  color: black;
}

.top-text a:hover {
  color: black;
}

.siap-icon {
  margin-top: 100px;
}

.icon-color {
  width: 114px;
  height: 25px;
  margin: 12px 260px 11px 0;
  padding: 0 0 1px;
  object-fit: contain;
}

.note {
  margin-top: 327px;
  font-size: 12px;
  margin: 327px 7px 24px;
}

.copy {
  margin-top: 60px;
}

.member {
  margin-top: 600px;
}

.otp {
  height: 3rem;
  margin: 0 1rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 4px;
}

input.form-control,
textarea.form-control,
div.form-control,
select.form-control {
  height: 56px;
}

.foo1 {
  display: block;
  left: 0;
  width: 1366px;
  height: 610px;
  margin: 69px 0 0;
  padding: 9px 0 0;
  opacity: 0;
  background-color: #0c135f;
}

.Mask {
  width: 1366px;
  height: 610px;
  margin: 69px 0 0;
  padding: 9px 0 0;
  opacity: 0;
  background-color: #d8d8d8;
}

.logo-ojk {
  width: 79px;
  height: 32px;
  margin: 0 0px 9px 0px;
}

.banner {
  display: block;
  width: 1515px;
}

.banner2 {
  display: block;
  width: 120%;

  object-fit: contain;
  border-radius: 10px;
}

.list-grid-prof {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 1em;

  top: 600px;

  width: 110px;
  height: 77px;

  object-fit: contain;
  border-radius: 8px;
}

.list-grid-prof p {
  font-family: Avenir;
  font-size: 12px;
  color: #646464;
  margin-top: 8px;
}

.detailpic {
  width: 672px;
  height: 379px;
}

.detail-text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: justify;
}

.list-grid-prof2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 1em;

  top: 600px;

  width: 407px;
  height: 228px;
  object-fit: contain;
  border-radius: 8px;
}

.list-grid-prof2 p {
  font-family: Avenir;
  font-size: 12px;
  color: #646464;
  margin-top: 8px;
}

.mobil-lunas {
  width: 69px;
  height: 69px;
  align-items: center;
}

.rumah {
  width: 92px;
  height: 92px;
}

.simulasi-card {
  background-color: #dfdfe5;
}

.simulasi-table {
  background-color: white;
}

/* Siap Dana Haji */
.bigcard {
  background-color: #f4f5f7;
  border-radius: 10px;
  padding: 20px;
}

.bigcard h4,
h2 {
  color: #0c135f;
}

.bigcard img {
  width: 600px;
}

.card-header {
  background-color: #fff;
  font-weight: 600;
  color: #0c135f;
}

.btn-dana {
  background-color: #0c135f;
  color: #fff;
  border-radius: 10px;
}

ul li {
  list-style: none;
}

.FaAngleUp {
  padding-left: 100px;
}

/*Akhir Siap Dana Haji */

/* Siap Dana Haji Form */
.header-bigcard {
  margin-left: -60px;
}

.select h5 {
  color: #0c135f;
  padding-bottom: 30px;
}

.select Label {
  color: #0c135f;
  font-weight: 500;
}

.btn-next {
  background-color: #0c135f;
  color: #fff;
  padding: 10px 0px;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.btn-back {
  border: 2px solid #a0a1a2;
  background-color: #f4f5f7;
  color: #c0c1c2;
  padding: 10px 0px;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 30px;
}

/* AkhirSiap Dana Haji Form */

/* Data Diri */
.form-group {
  color: #0c135f;
  font-size: 14px;
}

.form-group input {
  height: 47px;
  border-radius: 8px;
  padding: 20px 10px;
  border: none;
  font-size: 14px;
}

#exampleFormControlSelect1 {
  height: 47px;
  border: none;
  font-size: 14px;
}

.card {
  border: none;
}

.card-footer {
  background-color: #fff;
}

label {
  color: #0c135f;
}

#status {
  margin-left: -20px;
  color: #0c135f;
}

.location span {
  color: #0c135f;
}

.card-location h5 {
  color: #0c135f;
  font-weight: 600;
}

#jenis-pekerjaan {
  margin-left: -15px;
}

.regist h4,
p {
  color: #0c135f;
  font-weight: 600;
}
.dokument {
  border: 2px dashed #0c135f;
}
.dokument img {
  padding: 15px 20px;
}
.dokument h5 {
  padding-top: 10px;
  font-size: 17px;
  font-weight: 600;
}
.dokument span {
  font-size: 12px;
  color: #b3afaf;
}
table {
  border-radius: 10px;
}
table tr th {
  border: none;
}
.btn-primary {
  background-color: #0c135f;
}
.btn-blue {
  border: 1px solid #0c135f;
}
.product h5 {
  color: #f7aa00;
  margin-left: -10px;
}
.benefit, .tutorial {
  color: #f7aa00;
}

.btn-list {
  background-color: #f4f5f7;
  padding: 10px 50px;
  color: #0c135f;
  font-weight: bold;
  border-left: 5px solid #0c135f;
}

.portfolio h2 {
  color: #f7aa00;
}

.portfolio h3 {
  font-weight: bold;
}

.testimoni h5 {
  color: #f7aa00;
}
.testimoni h4 {
  font-weight: bold;
  color: #0c135f;
}
/* Akhir Data Diri */