* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-login{
  background-color: #0c135f;
  height: 100%;
  width: 300px;
 
    left: 0;
    position: fixed;
    color: #f6fbff;
}
.top-bar { padding-top: 10px; padding-bottom: 10px; background-color: #f6fbff; font-size: 12px; color: black; font-weight: 500; text-transform: uppercase;  left: 0}
.top-text { padding-left: 20px; line-height: 1.6; }
.top-text a { color: black; }
.top-text a:hover { color: black; }

.siap-icon{
  margin-top: 100px;
  
}
.icon-color{
  width: 114px;
  height: 25px;
  margin: 12px 260px 11px 0;
  padding: 0 0 1px;
  object-fit: contain;
}
.note{
  margin-top: 327px;
  font-size: 12px;
  margin: 327px 7px 24px;
}

.copy{
   margin-top: 60px;
}
.member{
  margin-top: 600px;
}
.otp {
 
  height: 3rem;
  margin: 0 1rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 4px;
  
}
input.form-control,
textarea.form-control,
div.form-control,
select.form-control {
  height: 56px;
}
.foo1 {
 
  display: block;
 left: 0;
  width: 1366px;
  height: 610px;
  margin: 69px 0 0;
  padding: 9px 0 0;
  opacity: 0;
  background-color: #0c135f;
}
.Mask {
  width: 1366px;
  height: 610px;
  margin: 69px 0 0;
  padding: 9px 0 0;
  opacity: 0;
  background-color: #d8d8d8;
}
.logo-ojk{
  width: 79px;
  height: 32px;
  margin: 0 0px 9px 0px;
}
.banner{

  display: block;
 width: 1515px;
}
.banner2{

  display: block;
width: 120%;
 
  object-fit: contain;
  border-radius: 10px;
}

 .list-grid-prof{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 1em;
  
    top: 600px;
    
  width: 110px;
  height: 77px;

  object-fit: contain;
  border-radius: 8px;

  }
  .list-grid-prof p{
    font-family: Avenir;
  font-size: 12px;
  color: #646464;
  margin-top: 8px;
  }
  .detailpic{
     width: 672px;
  height: 379px;
  }
  .detail-text{
     font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: justify;
  }


  .list-grid-prof2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 1em;
  
    top: 600px;
    
   width: 407px;
  height: 228px;
  object-fit: contain;
  border-radius: 8px;

  }
  .list-grid-prof2 p{
    font-family: Avenir;
  font-size: 12px;
  color: #646464;
  margin-top: 8px;
  }
  .mobil-lunas{
     width: 69px;
  height: 69px;
  align-items: center;
  }
  




